.instructions-container {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.instructions {
  max-width: 300px;
  background: black;
  border: solid #556cc9 4px;
  border-radius: 10px;
  padding: 0.6em 1em;
}

.instructions-body {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lets-play {
  margin: 1em auto;
  padding: 0.6em 0.8em;
  cursor: pointer;
  border-radius: 5px;
  border: solid #556cc9 0.25em;
  font-size: 1rem;
  background-color: black;
  transition: background-color 200ms;
}

.lets-play:hover {
  background-color: #7a98ed;
}

.instructions-bg {
  position: absolute;
  z-index: 1;
  inset: 0 0 0 0;
  opacity: 30%;
  background: black;
}

@media (max-width: 1000px) {
  .startermessage {
    left: 45%;
  }
}

@media (max-width: 400px) {
  .startermessage {
    left: 33%;
  }
}
