.startermessage {
  font-weight: 700;
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 1000px) {
  .startermessage {
    left: 45%;
  }
}

@media (max-width: 400px) {
  .startermessage {
    left: 33%;
  }
}
