.score-bar-container {
  perspective: 50em;
  width: fit-content;
  margin: 0 auto;
}

.score-bar-items {
  display: flex;
  align-items: center;
  padding: 1em 3em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(15, 15, 15) 50%, rgba(0, 0, 0, 1) 100%);
  border: solid #481d52 4px;
  box-shadow: inset 0 4px 23px #dd517e, 0 20px #1c0821, 0 80px 80px #000000;
  gap: 30px;
  border-radius: 10px;
  text-shadow: 0 4px 10px white;
  transform: rotateX(20deg);
}
