.score-bar-container {
  position: relative;
  perspective: 50em;
}

.score-bar-items {
  display: flex;
  align-items: center;
  padding: 1em 3em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(40, 40, 40) 50%, rgba(0, 0, 0, 1) 100%);
  border: solid #1c0821 4px;
  box-shadow: inset 0 0 30px rgba(72, 29, 82, 1), 0 20px #1c0821, 0 100px 80px #000000;
  gap: 30px;
  border-radius: 10px;
  text-shadow: 0 4px 8px white;
  transform: rotateX(30deg);
}

.timerAndCounter {
  display: none;
  text-shadow: 0 4px 3px white;
  font-size: 2rem;
  transform: perspective(50em) rotateX(40deg) translateX(30px);
}

@keyframes open-hud {
}
