.sidebarLeft {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 400px) {
  .sidebarLeft {
    height: 120px;
    width: 100%;
  }
}

.timerAndCounter {
  display: none;
  grid-row-start: 2;
  align-self: center;
  justify-content: center;
}

.lessThanSymbol {
  position: relative;
  left: 35px;
  top: 37px;
  font-weight: bolder;
  font-size: x-small;
}

.twitterAnchor {
  grid-row-start: 3;
  align-self: end;
}

.twitterIcon {
  background: #ededed;
  border-radius: 50%;
  height: 30px;
  grid-row-start: 3;
  align-self: end;
  margin: 15px;
  cursor: pointer;
}
