.container {
  display: flex;
  padding-left: 3900px;
  transition: transform 100ms ease;
}

.checkboxes {
  display: flex;
  position: relative;
  left: 25px;
  gap: 20px;

  transition: transform 100ms ease;
}
