.container {
    display: flex;
    height: 600px;
    align-items: center;
    padding-right: calc(65vw);
    padding-left: 48%;
    border-top: 3px dashed #f5f5f5;
    border-bottom: 3px dashed #f5f5f5;
    transition: transform 100ms ease;
}

.checkboxes {
    display: flex;
    position: relative;
    left: 25px;
    transition: transform 100ms ease;
}
