.container {
  display: flex;
  padding: 100px 0 60px 3900px;
  transition: transform 100ms ease;
}

@media (max-width: 1000px) {
  .container {
    padding-left: 44%;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 32%;
  }
}

.checkboxes {
  display: flex;
  position: relative;
  left: 25px;
  gap: 20px;

  transition: transform 100ms ease;
}
