.win-message-container {
  display: none;
  position: absolute;
  align-items: center;
  border: solid #556cc9 4px;
  border-radius: 10px;
  padding: 1em 0;
  width: 200px;
  background: black;
  text-align: center;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.nice {
  font-size: large;
  font-weight: bold;
}
