.win-message-container {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 2em 2em;
  border: solid #556cc9 4px;
  position: absolute;
  align-items: center;
  background: black;
  text-align: center;
}
