.checkbox-container {
  position: relative;
  transition: transform ease 100ms;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #d6fffe;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 0.15em solid #74f9f6;
  box-shadow: inset 0 0 8px #74f9f6;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #e68e35;
  border: 0.15em solid #e68e35;
  box-shadow: inset 0 0 8px #e68e35;
  border-radius: 50%;
  transform: scale(0);
  /* transition: 120ms transform ease-in-out; */
  background: white;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:disabled {
  background-color: gray;
  border: 0.15em solid white;
  opacity: 50%;
}

.pulse-blue {
  z-index: -1;
  position: absolute;
  inset: 0 0 0 0;
  opacity: 100%;
  border-radius: 50%;
  animation: pulse-blue 800ms ease-in infinite alternate;
}

.pulse-pink {
  z-index: -1;
  position: absolute;
  inset: 0 0 0 0;
  opacity: 100%;
  border-radius: 50%;
  animation: pulse-pink 800ms ease-in infinite alternate;
}

@keyframes pulse-blue {
  0% {
    box-shadow: 0 0 10px #74f9f6;
  }

  100% {
    box-shadow: 0 0 30px #74f9f6;
  }
}

@keyframes pulse-pink {
  0% {
    box-shadow: 0 0 10px #e68e35;
  }

  100% {
    box-shadow: 0 0 30px #e68e35;
  }
}
