footer {
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  height: 150px;
  width: 100%;
  inset: auto auto 0 0;
  z-index: 2;
}

.footerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto 70px;
}

.footerSVG {
  padding: 0 0.625em;
}

.footerSVGContainer {
  display: flex;
}

#game-title {
  --background-gradient: linear-gradient(
    135deg,
    rgba(221, 81, 126, 1) 0%,
    rgba(230, 142, 53, 1) 16.7%,
    rgba(221, 81, 126, 1) 33%,
    rgba(230, 142, 53, 1) 50%,
    rgba(221, 81, 126, 1) 66%,
    rgba(230, 142, 53, 1) 100%
  );
  background-image: var(--background-gradient);
  background-size: 500%;
  -webkit-text-fill-color: transparent;
  transition: transform 200ms;
  animation: textRipple 3s ease-in-out infinite alternate;
}

@media (max-width: 1000px) {
  .footerContainer {
    margin: auto 20px;
  }
}

@keyframes textRipple {
  0% {
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
  }

  100% {
    background-position: right;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
