.App {
  display: flex;
  height: 100vh;
  align-items: center;
  /* overflow: hidden; */
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* ===================
        Typography
    =================== */

h1 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5rem;
  font-variant: small-caps;
  letter-spacing: 4px;
}

p {
  font-size: 0.825rem;
}

a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 200ms;
}

a:hover {
  color: #68aeeb;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

/* ===================
        App Classes
    =================== */

.bg-grid-container {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 50em;
  /* animation: move-grid-container 10s infinite alternate; */
}

.bg-grid {
  height: 100%;
  width: 300%;
  box-shadow: 0 -10px 50px #7a98ed;
  background-size: 100px 100px;
  transform: rotateX(50deg) translateX(-10%);

  background-image: linear-gradient(to right, #556cc9 4px, transparent 1px),
    linear-gradient(to bottom, #556cc9 3px, transparent 1px);
  /* animation: move-grid-bg 5s ease-in-out infinite alternate; */
}

@keyframes move-grid-container {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-grid-bg {
  0% {
    transform: rotateX(50deg) translateX(-10%);
  }
  100% {
    transform: rotateX(50deg) translateX(-30%);
  }
}
