.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: calc(25% - 30px);
  height: 100vh;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  min-height: 572px;
  margin: 0;
  overflow: hidden;
  background: black;
}

/* ===================
        Typography
    =================== */

h1 {
  margin: 0;
  padding: 0 10px;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-family: 'Cinzel', serif;
  font-size: 4.5rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 4px;
}

h3 {
  margin: 0;
  font-size: 2.125rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

p {
  font-size: 0.825rem;
  margin: 0;
}

a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 200ms;
}

a:hover {
  color: #cb5e6c;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

/* ===================
        App Classes
    =================== */

.text-bg {
  position: relative;
  padding: 0.6em 1em;
  background-color: black;
  border-radius: 3.125em;
  border: solid #556cc9 4px;
}

.text-bg-center-perspective {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 1px;
  right: 1px;
  height: 100%;
  background-color: black;
  border: solid #556cc9 4px;
  border-radius: 3.125em;
}

.text-bg-left-perspective {
  z-index: -1;
  position: absolute;
  top: 8px;
  left: 2px;
  width: 99%;
  height: 100%;
  background-color: black;
  border: solid #556cc9 4px;
  border-radius: 3.125em;
}

.text-bg-right-perspective {
  z-index: -1;
  position: absolute;
  top: 8px;
  right: 2px;
  width: 99%;
  height: 100%;
  background-color: black;
  border: solid #556cc9 4px;
  border-radius: 3.125em;
}

/* ===================
      Google Icons
    =================== */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* ===================
        Animations
    =================== */

@keyframes move-grid-container {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-grid-bg {
  0% {
    transform: rotateX(50deg) translateX(-10%);
  }
  100% {
    transform: rotateX(50deg) translateX(-30%);
  }
}
