.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* align-items: center; */
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* ===================
        Typography
    =================== */

h1 {
  margin: 0;
  padding: 0 10px;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-family: 'Cinzel', serif;
  font-size: 4.5rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 4px;
}

p {
  font-size: 0.825rem;
  margin: 0;
}

a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 200ms;
}

a:hover {
  color: #68aeeb;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

/* ===================
        App Classes
    =================== */

.text-bg {
  padding: 0.2em 1em;
  background-color: black;
  border-radius: 50px;
  border: solid #556cc9 4px;
}

/* ===================
      Google Icons
    =================== */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* ===================
        Animations
    =================== */

@keyframes move-grid-container {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-grid-bg {
  0% {
    transform: rotateX(50deg) translateX(-10%);
  }
  100% {
    transform: rotateX(50deg) translateX(-30%);
  }
}
