.reset {
  display: flex;
  border-radius: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 800ms;
  filter: drop-shadow(0 0 6px white);
  stroke: white;
}

.reset:hover {
  transform: rotate(-360deg);
}

@media (max-width: 535px) {
  .reset {
    transform: scale(0.8);
  }
}
