.reset {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: none;
  border: none;
  padding: 20px 0;
  /* padding: 0 2.5rem 0 2.5rem; */
  cursor: pointer;
  transition: transform 800ms;
  filter: drop-shadow(0 0 6px white);
}

.mainReset {
  opacity: 0;
  cursor: default;
}

.reset:hover {
  transform: rotate(-360deg);
}
